# These owners will be the default owners for everything in
# the repository. Unless a later match takes precedence,
# @org/actor will be requested for
# review when someone opens a pull request.
*       @rdkcentral/wanmanager-owners
